html{
	position:fixed;
	margin:0;
	width:100%;
	height:100%;
	background: black;
	overflow: hidden;
	padding:0;
}
body{
	margin:0;
}
*{
	cursor:none !important;
	overflow: hidden;
}

.a{
	position:absolute;
	top:200px;
	left:200px;
	pointer-events: none;
}

.a iframe{
  width:5vw;
  height:5vw;
  min-width:110px;
  min-height:110px;
  pointer-events: none;
}

.title{
	position: absolute;
	left:50%;
	transform: translate(-52%);
	top:4vh;
	font-size: 5.8vw;
	font-family:"Uncial Antiqua";
	color:white;
	text-shadow: 0 0 15px white, 0 0 10px white;
	letter-spacing: 5px;
	animation:title 1s infinite;

}
#h{
	animation:title 4s infinite;
}
#h2{
	animation:title 0.6s infinite;
}
#h3{
	animation:title 0.5s infinite;
}

.cursor{
	position: absolute;
    z-index: 7;
    pointer-events: none;
    left:-100%;
    transform: translate(-40%);
}
.cursor img{
	width:13vw;
	animation:cursor 3.5s infinite;
}
.back{
	position: absolute;
	left:0;
	top:0;
	height:100vh;
}

.star1{
	position: absolute;
	pointer-events: none;
	left:3vw;
	bottom:40vh;
	width:5vw;
}
.star2{
	position: absolute;
	pointer-events: none;
	left:3vw;
	top:7vh;
	width:6vw;

}
.star3{
	position: absolute;
	pointer-events: none;
	left:30vw;
	top:40vh;
	width:4vw;

}
.star4{
	position: absolute;
	pointer-events: none;
	left:45vw;
	bottom:10vh;
	width:4vw;
}
.star5{
	position: absolute;
	pointer-events: none;
	right:30vw;
	top:15vh;
	width:3.5vw;
}
.star6{
	position: absolute;
	pointer-events: none;
	right:3vw;
	top:6vh;
	width:8vw;
}
.star7{
	position: absolute;
	pointer-events: none;
	right:2vw;
	bottom:5vh;
	width:8vw;
}
.planet1{
	position: absolute;
	pointer-events: none;
	left:22vw;
	top:-9vh;
	width:10vw;
}
.planet2{
	position: absolute;
	pointer-events: none;
	right:-2vw;
	bottom:20vh;
	width:20vw;
}
.legend{
	position: absolute;
	pointer-events: none;
	left:2vw;
	bottom:4vh;
	width:12vw;
}


.a{
	position:absolute;
	z-index: 1;
	pointer-events: none;
	z-index: 10;
/*	animation:ham 2s infinite;*/
}

.a iframe{
  width:15vw;
  height:15vw;
  min-width:120px;
  min-height:120px;
  pointer-events: none;
  z-index: 10;
}

.home{
	position:absolute;
	left:70vh;
	top:20vh;
	animation:home 4s infinite;
	
}
.home img{
	width:28vw;
	min-width:200px;
	transition: 0.5s;
}


.gd{
	position:absolute;
	left:5vw;
	top:15vh;
	animation:gd 3s infinite;
}
.gd img{
	width:28vw;
	min-width:200px;
	transition: 0.5s;
}


.ani{
	position:absolute;
	left:20vw;
	bottom:4vh;
	animation:ani 2.5s infinite;
}
.ani img{
	width:22vw;
	min-width:200px;
	transition: 0.5s;

}


.ill{
	position:absolute;
	right:24vw;
	bottom:5vh;
	transform: rotate(-30deg);
	animation:ill 12s linear infinite;
}
.ill img{
	width:25vw;
	min-width:230px;
	transition: 0.5s;
	left:0;
}


.about{
	position:absolute;
	right:11vw;
	top:10vh;
	animation:about 2s infinite;

}
.about img{
	width:19vw;
	min-width:200px;
	transition: 0.5s;
	left:0;
}
.menu img:hover{
	transform: scale(1.1);

}






@media only screen and (max-width:800px) {

.cursor{
	display: none;
}

.star1{
	position: absolute;
	pointer-events: none;
	left:33vw;
	bottom:4vh;
	width:10vw;
}
.star2{
	position: absolute;
	pointer-events: none;
	left:3vw;
	top:3vh;
	width:10vw;

}
.star3{
	position: absolute;
	pointer-events: none;
	left:20vw;
	top:37vh;
	width:7vw;

}
.star4{
	position: absolute;
	pointer-events: none;
	left:50vw;
	bottom:40vh;
	width:6vw;
}
.star5{
	position: absolute;
	pointer-events: none;
	right:50vw;
	top:10vh;
	width:5vw;
}
.star6{
	position: absolute;
	pointer-events: none;
	right:3vw;
	top:2vh;
	width:10vw;
}
.star7{
	position: absolute;
	pointer-events: none;
	right:3vw;
	bottom:3vh;
	width:15vw;
}
.planet1{
	position: absolute;
	pointer-events: none;
	left:30vw;
	top:-3vh;
	width:10vw;
}
.planet2{
	position: absolute;
	pointer-events: none;
	right:-3vw;
	bottom:24vh;
	width:22vw;
}
.legend{
	position: absolute;
	pointer-events: none;
	left:3vw;
	bottom:2vh;
	width:32vw;
}


.a{
	position:absolute;
	z-index: 1;
	pointer-events: none;
	z-index: 10;
/*	animation:ham 2s infinite;*/
}

.a iframe{
  width:15vw;
  height:15vw;
  min-width:120px;
  min-height:120px;
  pointer-events: none;
  z-index: 10;
}

.home{
	position:absolute;
	left:22vh;
	top:32vh;
	animation:home 4s infinite;
	
}
.home img{
	width:50vw;
	min-width:0px;
	transition: 0.5s;
}


.gd{
	position:absolute;
	left:2vw;
	top:15vh;
	animation:gd 3s infinite;
}
.gd img{
	width:45vw;
	min-width:0px;
	transition: 0.5s;
}


.ani{
	position:absolute;
	left:5vw;
	bottom:28vh;
	animation:ani 2.5s infinite;
}
.ani img{
	width:38vw;
	min-width:0px;
	transition: 0.5s;

}


.ill{
	position:absolute;
	right:15vw;
	bottom:5vh;
	transform: rotate(-30deg);
	animation:ill 12s linear infinite;
}
.ill img{
	width:43vw;
	min-width:0px;
	transition: 0.5s;
	left:0;
}


.about{
	position:absolute;
	right:13vw;
	top:12vh;
	animation:about 2s infinite;

}
.about img{
	width:27vw;
	min-width:0px;
	transition: 0.5s;
	left:0;
}
.title{
	width:66vw;
	font-size:30px;
	text-shadow: 0 0 5px white, 0 0 8px white;
	left:50%;
	transform:translate(-50%);
	letter-spacing: 3px;
	}


}


@-webkit-keyframes ill {
  0%   {transform:rotate(0deg); }
  100% {transform:rotate(360deg);}
}
@-webkit-keyframes gd {
  0%   {transform:rotate(0deg);}
  50% {transform:rotate(-10deg);}
  100% {transform:rotate(0deg);}
}
@-webkit-keyframes home {
  0%   {transform:scale(0.9);}
  50% {transform:scale(1);}
  100% {transform:scale(0.9);}
}
@-webkit-keyframes about {
  0%   {transform: translate(0,2%);}
  50% {transform:translate(0,-5%);}
  100% {transform: translate(0,2%);}
}
@-webkit-keyframes ani {
  0%   {transform: translate(2%);}
  50% {transform:translate(-2%);}
  100% {transform: translate(2%);}
}
@-webkit-keyframes cursor {
  0%   {transform:rotate(10deg);}
  50% {transform:rotate(-10deg);}
  100% {transform:rotate(10deg);}
}
@-webkit-keyframes title {
  0%   {opacity:1;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}





